<div class="menu-content">
	<div class="d-flex justify-content-end">
		<span><a href="/">Home</a> > Product Manager > Add product image</span>
	</div>
	<h1>Add product image</h1>
	<form class="form-user" method="POST" enctype="multipart/form-data" action="?_csrf={{csrfToken}}">
		<div class="text-center">Choose an Image for this product</div>
		<div class="extense-avatar text-center">
			<img name="avatar" id="product-img0" src="/images/defaultavatar.png" alt="avatar" />
			<div>
				<input type="file" id="file0" name="img" accept="image/*"/>
				<label for="file0"><i class="fa-fw fa fa-image"></i> Choose a file</label>
			</div>
		</div>
		<div class="d-flex justify-content-end">
			<button type="submit" class="btn btn-primary btn-round"><i class="fa-fw fa fa-pencil"></i> Add image</button>
		</div>
	</form>
</div>
</div>