<div class="menu-content">
	<div class="d-flex justify-content-end">
		<span><a href="/">Home</a> > Product Manager > View All Products</span>
	</div>
	<h1>View All Products</h1>

	<div class="table-responsive">
		<table class="table admin-product-content" id="listtable">

		</table>
	</div>
	<div class="admin-product-nav d-flex justify-content-center">
		<div class="pagination-nav">

		</div>	
	</div>
</div>