<div class="menu-content">
	<div class="d-flex justify-content-end">
	<span><a href="/">Home</a> > Product Manager > View All Users</span>
	</div>
	<h1>View All Users</h1>

	<div class="table-responsive" style="display: block;">
		<table class="table" id="listtable">
			<tr>
				<th onclick="sortTable(0)">ID</th>
				<th onclick="sortTable(1)">Email</th>
				<th onclick="sortTable(2)">Detail</th>
			</tr>
			{{#each users}}
			<tr>
				<td>{{id}}</td>
				<td>
					<div class="row">
						<div class="col-md-2">
							<div class="product-image">
								<img src="{{avatar}}" alt="User's avatar">
							</div>
						</div>
						<div class="col-md-10">
							<div class="product-name">
								{{name}} <span class="product-brand">({{#if isAdmin}} Admin {{else}} User {{/if}})</span>
							</div>
							<div class="product-description">
								{{email}}
							</div>
						</div>
					</div>
				</td>
				<td><a href="/admin/userlist/{{id}}" rel="tooltip" title="View this user's detail" data-placement="bottom"><i class="fa fa-eye"></i></a></td>
			</tr>
			{{/each}}
		</table>
	</div>
</div>