<div class="menu-content">
	<div class="d-flex justify-content-end">
		<span><a href="/">Home</a> > Product Manager > Edit product</span>
	</div>
	<h1>Edit product</h1>
	<form class="form-user" method="POST" enctype="multipart/form-data" action="?_csrf={{csrfToken}}">
		Images
		<div class="row">
			{{#each product.image}}
			<div class="col-md-3">
				<div class="avatar text-center">
					<img name="avatar" id="product-img{{@index}}" src="{{this}}" alt="avatar" />
					<input type="file" id="file{{@index}}" name="{{@index}}" accept="image/*"/>
					<label for="file{{@index}}"><i class="fa-fw fa fa-image"></i> Choose a file</label>
				</div>
			</div>
			{{/each}}
			{{#unless isFullImg}}
			<div class="col-md-3">
				<div class="add-image avatar text-center">
					<img name="avatar" src="/images/defaultavatar.png" alt="avatar" />
					<a class="btn btn-primary btn-round" href="/admin/addproductimage/{{product._id}}"><i class="fa-fw fa fa-pencil"></i> Add image</a>
				</div>
			</div>
			{{/unless}}
		</div>
		Name
		<input id="name" class="form-control" name="name" placeholder="Enter product's name" value="{{product.name}}" required/>
		Brand
		<input id="brand" class="form-control" name="brand" placeholder="Enter product's brand" value="{{product.brand}}" required/>
		Subcategories
		<select class="basic-multiple form-control" multiple="multiple" name="subcategories">
			{{#each product.subcategories}}
			<option value="{{this}}" selected="">{{this}}</option>
			{{/each}}
			{{#each subcategories}}
			<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
		{{#if isLaptop}}
		CPU
		<input id="cpu" class="form-control" name="cpu" placeholder="Enter product's CPU" value="{{product.cpu}}" required/>
		RAM
		<input id="ram" class="form-control" name="ram" placeholder="Enter product's RAM" value="{{product.ram}}" required/>
		Weight
		<input id="weight" class="form-control" name="weight" placeholder="Enter product's weight" value="{{product.weight}}" required/>
		Resolution
		<input id="resolution" class="form-control" name="resolution" placeholder="Enter product's weight" value="{{product.resolution}}" required/>
		ROM
		<input id="rom" class="form-control" name="rom" placeholder="Enter product's ROM" value="{{product.rom}}" required/>
		GPU
		<input id="gpu" class="form-control" name="gpu" placeholder="Enter product's GPI" value="{{product.gpu}}" required/>
		{{else}}
		Description
		<textarea id="description" class="form-control" placeholder="Enter product's description" rows="5" name="description" required>{{product.desc}}</textarea>
		{{/if}}
		Price
		<input id="text" class="form-control" name = "price" rows="1" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Enter product's price" value = "{{product.price}}" required/>
		Quantity
		<input id="text" class="form-control" name = "quantity" rows="1" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Enter product's quantity" value = "{{product.quantity}}" required/>
		<div class="d-flex justify-content-end">
			<button type="submit" class="btn btn-primary btn-round"><i class="fa-fw fa fa-pencil"></i> Edit product</button>
		</div>
	</form>
</div>
</div>