				<div class="menu-content">
					<div class="d-flex justify-content-end">
						<span><a href="/">Home</a> > User Manager > User Detail</span>
					</div>
					<h1>Profile</h1>
					<form class="form-user" method="POST">
						Avatar
						<div class="avatar">
							<img name="avatar" id="user-avatar" src="{{user.avatar}}" alt="avatar" />
						</div>
						{{#unless user.isAdmin}}
						<div>
							<input type="file" id="file" />
							<label for="file"><i class="fa-fw fa fa-image"></i> Choose a file</label>				
						</div>
						{{/unless}}
						Name
						<input id="name" class="form-control" name="name" placeholder="Enter your name" value="{{user.name}}" required/>
						Email
						<input id="email" class="form-control" name="mail" readonly="readonly" placeholder="Enter your email" value="{{user.email}}" required/>
						Address
						<input id="address" class="form-control" name="address" placeholder="Enter your address" value="{{user.address}}" required/>
						Phone
						<input id="text" class="form-control" name="phone" rows="1" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Enter your phone" value="{{user.phone}}" required/>
						Role
						<select name="isAdmin">
							{{#if user.isAdmin}}
							<option value="true" selected="true">Admin</option>
							<option value="false">User</option>
							{{else}}
							<option value="true" >Admin</option>
							<option value="false" selected="true">User</option>
							{{/if}}
						</select>
						{{#unless user.isAdmin}}
						<input type="hidden" name="_csrf" value="{{csrfToken}}">
						<div class="d-flex justify-content-end">
							<button type="submit" class="btn btn-primary btn-round"><i class="fa-fw fa fa-pencil"></i> Edit this User Profile</button>
						</div>
						{{/unless}}
					</form>
				</div>