<div class="menu-content">
	<div class="d-flex justify-content-end">
		<span><a href="/">Home</a> > Product Manager > Add product</span>
	</div>
	<h1>Add product</h1>
	<form class="form-user" method="POST" enctype="multipart/form-data" action="?_csrf={{csrfToken}}">
		Images
		<div class="row">
			<div class="col-md-3">
				<div class="avatar text-center">
					<img name="avatar" id="product-img0" alt="avatar" scr="" />
					<input type="file" id="file0" name="img" accept="image/*"/>
					<label for="file0"><i class="fa-fw fa fa-image"></i> Choose a file</label>	
				</div>
			</div>
			<div class="col-md-3">
				<div class="avatar text-center">
					<img name="avatar" id="product-img1" alt="avatar" scr="" />
					<input type="file" id="file1" name="img" accept="image/*"/>
					<label for="file1"><i class="fa-fw fa fa-image"></i> Choose a file</label>	
				</div>
			</div>
			<div class="col-md-3">
				<div class="avatar text-center">
					<img name="avatar" id="product-img2" alt="avatar" scr="" />
					<input type="file" id="file2" name="img" accept="image/*"/>
					<label for="file2"><i class="fa-fw fa fa-image"></i> Choose a file</label>	
				</div>
			</div>
			<div class="col-md-3">
				<div class="avatar text-center">
					<img name="avatar" id="product-img3" alt="avatar" scr=""/>
					<input type="file" id="file3" name="img" accept="image/*"/>
					<label for="file3"><i class="fa-fw fa fa-image"></i> Choose a file</label>	
				</div>
			</div>
		</div>
		Name
		<input id="name" class="form-control" name="name" placeholder="Enter product's name" required/>
		Brand
		<input id="brand" class="form-control" name="brand" placeholder="Enter product's brand" required/>
		Subcategories
		<select class="basic-multiple form-control" multiple="multiple" name="subcategories">
			{{#each subcategories}}
			<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
		{{#if isLaptop}}
		CPU
		<input id="cpu" class="form-control" name="cpu" placeholder="Enter product's CPU" required/>
		RAM
		<input id="ram" class="form-control" name="ram" placeholder="Enter product's RAM" required/>
		Weight
		<input id="weight" class="form-control" name="weight" placeholder="Enter product's weight" required/>
		Resolution
		<input id="resolution" class="form-control" name="resolution" placeholder="Enter product's weight" required/>
		ROM
		<input id="rom" class="form-control" name="rom" placeholder="Enter product's ROM" required/>
		GPU
		<input id="gpu" class="form-control" name="gpu" placeholder="Enter product's GPI" required/>
		{{else}}
		Description
		<textarea id="description" class="form-control" placeholder="Enter product's description" rows="5" name="description" required></textarea>
		{{/if}}
		Price
		<input id="text" class="form-control" name = "price" rows="1" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Enter product's price" required/>
		Quantity
		<input id="text" class="form-control" name = "quantity" rows="1" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Enter product's quantity" required/>
		<div class="d-flex justify-content-end">
			<button type="submit" class="btn btn-primary btn-round"><i class="fa-fw fa fa-pencil"></i> Add product</button>
		</div>
	</form>
</div>
</div>