<header><!-- Header -->
	<div class="top-header d-flex align-items-end justify-content-between">
		<div class="animated wow fadeInDown">
			<h1>thegearsshop</h1><h1 style="color:#1EB771;">.com</h1>
		</div>
		<a class="animated wow fadeInDown">THE WORLD'S LARGEST ONLINE SHOPPING SITE</a>
	</div>

	<nav class="navbar navbar-toggleable-sm navbar-light bg-faded main-nav" data-toggle="sticky-onscroll"><!-- Navbar -->
		<button class="navbar-toggler navbar-toggler-right hamburger is-closed" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" onclick="tooglebuttonClick()">
			<span class="hamb-top"></span>
			<span class="hamb-middle"></span>
			<span class="hamb-bottom"></span>
		</button>
		<a class="navbar-brand logo" href="#"><img src="/images/logo.png" alt="Logo"></a>
		<div class="collapse navbar-collapse justify-content-end" id="">
			<ul class="navbar-nav">				
				<li class="nav-item">
					<div class="dropdown">
						<a class="nav-link dropdown-toggle title" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-fw fa fa-user-o"></i> My Account</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">Notification</a>
							<a class="dropdown-item" href="/userdetail/{{user._id}}">Profile</a>
							<a class="dropdown-item" href="/signout">Sign-out</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</nav><!-- End Navbar -->
</header><!-- End Header -->