<footer><!-- Footer -->
	<div class="container">
		<div class="row animated wow fadeIn">
			<div class="col md-3">
				<h2>The Gears Shop</h2>
				<a href="#">Recruiting</a>
				<a href="#">Sales and purchase agreement</a>
				<a href="#">Security policy</a>
				<a href="#">Feedback</a>
				<a class="logo"><img src="/images/logo.png" alt="Logo"><img src="/images/logo-khtn.png" alt="Logo"></a>
			</div>
			<div class="col md-3">
				<h2>Payment Methods</h2>
				<img src="/images/ic-cash.svg" alt="Cash">
				<img src="/images/ic-visa.svg" alt="Visa">
				<img src="/images/ic-mastercard.svg" alt="Master Card"><br>
				<img src="/images/ic-internet-banking.svg" alt="Internet Banking">
				<img src="/images/ic-installment.svg" alt="Installment">
				<img src="/images/ic-jcb.svg" alt="JCB">
			</div>
			<div class="col md-3">
				<h2>Connect With Us</h2>
				<a target="_blank" href="https://github.com/creativetimofficial/now-ui-kit" class="btn btn-primary btn-circle facebook" rel="tooltip" title="Follow us on facebook">
					<i class="fa fa-facebook-square"></i>
				</a>
				<a target="_blank" href="https://github.com/creativetimofficial/now-ui-kit" class="btn btn-primary btn-circle google" rel="tooltip" title="Send us an email">
					<i class="fa fa-google"></i>
				</a>
				<a target="_blank" href="https://github.com/creativetimofficial/now-ui-kit" class="btn btn-primary btn-circle instagram" rel="tooltip" title="Follow us on Instagram">
					<i class="fa-fw fa fa-instagram"></i>
				</a>
				<a target="_blank" href="https://github.com/creativetimofficial/now-ui-kit" class="btn btn-primary btn-circle youtube" rel="tooltip" title="Subscribe  us on Youtube">
					<i class="fa-fw fa fa-youtube-square"></i>
				</a>
				<h2>Download Application</h2>
				<img style="width: 150px;" src="/images/appstore.png" alt="AppleStore">
				<img style="width: 150px;" src="/images/playstore.png" alt="PlayStore">
			</div>
			<div class="col md-3">
				<h2>Office Address</h2>
				227 Nguyen Van Cu, Ward 4, District 5, Ho Chi Minh city<br>
				Hotline: 0905355439 (100.000VND/min)					
				<div>
					<div id="map"></div>
				</div>
			</div>
		</div>
	</div>
</footer><!-- End Footer -->

<div class="copyright">
	<div class="container">
		<span class=" d-flex justify-content-center animated wow fadeInUp">©2017 - All Rights Reserved by The Gears</span>
	</div>		
</div>