<header>
	<!-- Header -->
	<div class="top-header d-flex align-items-end justify-content-between">
		<div class="animated wow fadeInDown">
			<h1>thegearsshop</h1>
			<h1 style="color:#1EB771;">.com</h1>
		</div>
		<a class="animated wow fadeInDown">THE WORLD'S LARGEST ONLINE SHOPPING SITE</a>
	</div>
	<div class="top-promo d-flex justify-content-between">
		<!-- Top Promo -->
		<a class="feature credibility animated wow fadeIn"><span class="icon"></span>100% Authentic And Genuine Product Guarantee</a>
		<a class="feature gift animated wow fadeIn"><span class="icon"></span>Many Attractive Incentives</a>
		<a class="feature warranty animated wow fadeIn"><span class="icon"></span>12-24 Months Warranty</a>
		<a class="feature delivery animated wow fadeIn"><span class="icon"></span>Free Shipping Nationwide</a>
	</div>
	<!-- End Top promo -->

	<nav class="navbar navbar-toggleable-sm navbar-light bg-faded main-nav" data-toggle="sticky-onscroll">
		<!-- Navbar -->
		<button class="navbar-toggler navbar-toggler-right hamburger is-closed" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
		 aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" onclick="tooglebuttonClick()">
			<span class="hamb-top"></span>
			<span class="hamb-middle"></span>
			<span class="hamb-bottom"></span>
		</button>
		<a class="navbar-brand logo animated wow fadeIn" href="/"><img src="/images/logo.png" alt="Logo"></a>
		<div class="collapse navbar-collapse justify-content-end" id="">
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle title animated wow fadeIn" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-fw fa fa-bars"></i> Categories</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<li><a class="dropdown-item" href="/productlist">All</a></li>
						<li class="dropdown-submenu">
							<a class="dropdown-item" href="#">Business</a>
							<div class="dropdown-subitem ">
								<div class="row">
									<div class="col-md-4">
										<div class="card">
											<div class="card-header">Brands</div>
											<ul class="list-group">
												<li class="list-group-item">Acus</li>
												<li class="list-group-item">Acer</li>
												<li class="list-group-item">Apple</li>
												<li class="list-group-item">Dell</li>
												<li class="list-group-item">HP</li>
												<li class="list-group-item">Intel</li>
												<li class="list-group-item">Lenovo</li>
												<li class="list-group-item">MSI</li>
												<li class="list-group-item">Microsoft</li>
												<li class="list-group-item">Samsung</li>
												<li class="list-group-item">Toshiba</li>
												<li class="list-group-item">Vaio</li>
											</ul>
										</div>
									</div>
									<div class="col-md-4">
										<div class="card">
											<div class="card-header">Resolution</div>
											<ul class="list-group">
												<li class="list-group-item" value="resolution^1200X800">1200X800</li>
												<li class="list-group-item" value="resolution^1280x800">1280x800</li>
												<li class="list-group-item" value="resolution^1366x678">1366x678</li>
												<li class="list-group-item" value="resolution^1366x768">1366x768</li>
												<li class="list-group-item" value="resolution^1600x900">1600x900</li>
												<li class="list-group-item" value="resolution^1900x1080">1900x1080</li>
												<li class="list-group-item" value="resolution^1920x1080">1920x1080</li>
												<li class="list-group-item" value="resolution^1920x1200">1920x1200</li>
												<li class="list-group-item" value="resolution^2150x1440">2150x1440</li>
												<li class="list-group-item" value="resolution^2160 x 1440">2160 x 1440</li>
												<li class="list-group-item" value="resolution^2256 x 1504">2256 x 1504</li>
												<li class="list-group-item" value="resolution^2304 x 1440">2304 x 1440</li>
												<li class="list-group-item" value="resolution^2560 x 1080">2560 x 1080</li>
												<li class="list-group-item" value="resolution^2560 x 1440">2560 x 1440</li>
												<li class="list-group-item" value="resolution^2560 x 1600">2560 x 1600</li>
												<li class="list-group-item" value="resolution^2736 x 1824">2736 x 1824</li>
												<li class="list-group-item" value="resolution^2800x1800">2800x1800</li>
												<li class="list-group-item" value="resolution^2880 x 1620">2880 x 1620</li>
												<li class="list-group-item" value="resolution^3000 x 2000">3000 x 2000</li>
												<li class="list-group-item" value="resolution^3200 x 1800">3200 x 1800</li>
												<li class="list-group-item" value="resolution^3840 x 2160">3840 x 2160</li>
											</ul>
										</div>
									</div>
									<div class="col-md-4">

									</div>
								</div>
							</div>
						</li>
						<li><a class="dropdown-item" href="#">Desktop Replacement</a></li>
						<li><a class="dropdown-item" href="#">Gameing</a></li>
						<li><a class="dropdown-item" href="#">Multimedia</a></li>
						<li>
							<a class="dropdown-item" href="#">Student</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					{{#if login}}
					<div class="dropdown">
						<a class="nav-link dropdown-toggle title animated wow fadeIn" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
						 aria-expanded="false"><i class="fa-fw fa fa-user-o"></i> My Account</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						{{#if user.isAdmin}}
						<a class="dropdown-item" href="/admin/productlist">Admin Management</a>
						{{/if}}
							<a class="dropdown-item" href="#">Notification</a>
							<a class="dropdown-item" href="/userdetail/{{user._id}}">Profile</a>
							<a class="dropdown-item" href="#">Orders</a>
							<a class="dropdown-item" href="#">Favorites</a>
							<a class="dropdown-item" href="/signout">Sign-out</a>
						</div>
					</div>
					{{else}}
					<div class="signin-signup">
						<button type="button" class="btn btn-primary btn-round animated wow fadeIn" data-toggle="modal" data-target="#flipFlop">Sign-in</button>

						<!-- The modal -->
						<div class="modal fade" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										<h1 class="modal-title" id="modalLabel">Welcome!</h1>
									</div>
									<div class="modal-body">
										<ul class="nav nav-tabs" role="tablist">
											<li class="nav-item">
												<a class="nav-link active" href="#signin-tab" rel="tab1" role="tab" data-toggle="tab">Sign-in</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#signup-tab" rel="tab2" role="tab" data-toggle="tab">Sign-up</a>
											</li>
										</ul>

										<!-- Tab panes -->
										<div class="tab-content">
											<div role="tabpanel" class="tab-pane active animated wow fadeInDown" id="signin-tab">
												<form id="signinform" class="middleform">

													<fieldset>
														<h1>Sign-in</h1>
														<h2>Member Login</h2>
														<div class="input-group">
															<span class="input-group-addon"><i class="fa-fw fa fa-user"></i></span>
															<input class="form-control" type="email" id="signinemail" name="email" placeholder="Email" />
														</div>
														<div class="input-group">
															<span class="input-group-addon"><i class="fa-fw fa fa-lock"></i></span>
															<input class="form-control" type="password" id="signinpassword" name="password" placeholder="Password" />
														</div>
														<div class="alert alert-danger collapse">

														</div>
														<div class="alert alert-success collapse">

														</div>
														<input id="signin-button" type="button" class="btn btn-primary btn-round" value="Sign-in" />
														<a id="change-to-signup-tab-link" href="#">Don't have any account? Sign-up now</a>
														<a href="/resetpassword">Forgot password?</a>
													</fieldset>

												</form>
											</div>
											<div role="tabpanel" class="tab-pane animated wow fadeInDown" id="signup-tab">
												<form action="/signup" method="post" class="middleform">

													<fieldset>
														<h1>Sign-up</h1>
														<h2>Step 1</h2>
														<div class="input-group">
															<span class="input-group-addon"><i class="fa-fw fa fa-envelope-o"></i></span>
															<input class="form-control" type="email" id="signupemail" name="email" placeholder="Email" />
														</div>
														<div class="input-group">
															<span class="input-group-addon"><i class="fa-fw fa fa-lock"></i></span>
															<input class="form-control" type="password" id="signuppassword" name="password" placeholder="Password" />
														</div>
														<div class="input-group">
															<span class="input-group-addon"><i class="fa-fw fa fa-lock"></i></span>
															<input class="form-control" type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" />
														</div>
														<div class="alert alert-danger collapse">

														</div>
														<input type="button" name="next" class="next btn btn-primary btn-round" value="Next" />
														<a id="change-to-signin-tab-link" href="#">Already have an account? Sign-in now</a>
														<a id="continue-as-guest-link" href="#">Continue as Guest</a>
													</fieldset>
													<fieldset>
														<h1>Personal Details</h1>
														<h2>Step 2</h2>
														<div class="input-group">
															<span class="input-group-addon"><i class="fa-fw fa fa-drivers-license-o"></i></span>
															<input class="form-control" type="text" id="name" name="name" placeholder="Full Name" />
														</div>
														<div class="input-group">
															<span class="input-group-addon"><i class="fa-fw fa fa-address-book"></i></span>
															<input class="form-control" type="text" id="address" name="address" placeholder="Address" />
														</div>
														<div class="input-group">
															<span class="input-group-addon"><i class="fa-fw fa fa-phone"></i></span>
															<input class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' type="text" id="phone" name="phone" placeholder="Phone" />
														</div>
														<div class="input-group">
															<span class="input-group-addon"><i class="fa-fw fa fa-file-image-o"></i></span>
															<input class="form-control" type="text" id="avatar" name="avatar" placeholder="Avatar" />
														</div>
														<div class="alert alert-danger collapse">

														</div>
														<div class="alert alert-success collapse">

														</div>
														<input id="previous-button" type="button" name="previous" class="previous btn btn-primary btn-round" value="Previous" />
														<input id="signup-button" type="submit" class="btn btn-primary btn-round" value="Sign-up" />
													</fieldset>
												</form>

											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary btn-round" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{/if}}
				</li>
				<li class="nav-item">
					<a class="nav-link title animated wow fadeIn" href="/cart"><i class="fa-fw fa fa-shopping-cart"></i> Shopping Cart 					
						<span id="cartQuantity" rel="tooltip" title="You have {{session.cart.totalQuantity}} item(s)" data-placement="bottom" class="{{#unless session.cart.items}} collapse {{/unless}}"> {{session.cart.totalQuantity}} </span>
					</a>					
				</li>
				<li class="nav-item">
					<a class="nav-link title animated wow fadeIn" href="#"><i class="fa-fw fa fa-phone"></i> Support</a>
				</li>
				<li class="nav-item">
					<div class="form-search animated wow fadeIn">
						<form class="form-inline">
							<input id="product-search-input" type="text" class="form-control" placeholder="Search..." size="20">
							<button id="product-search-button" type="submit" class="btn btn-primary btn-round"><i class="fa-fw fa fa-search"></i></button>
						</form>
					</div>
				</li>
			</ul>

		</div>
	</nav>
	<!-- End Navbar -->
</header>
<!-- End Header -->