<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{title}}</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<meta name="csrf-token" content="{{csrfToken}}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
	<link href="/stylesheets/animate.css" rel="stylesheet" />
	<link href="/stylesheets/style.css" rel="stylesheet" />
	<link href="/stylesheets/select2.min.css" rel="stylesheet" />
	<script src="/javascripts/jquery.3.2.1.min.js" type="text/javascript"></script>
</head>
<body>
	<div class="overlay"></div>
	<div id="side-navbar"><!-- Side Navbar -->
		<div class="top-side-navbar-panel logo d-flex justify-content-center align-items-center">
			<img src="/images/logo.png" alt="Logo">
		</div>
		<div id="accordion" role="tablist" aria-multiselectable="true">
			<div class="card">
				<div class="card-header" role="tab" id="heading1">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1"><i class="fa-fw fa fa-bars"></i> Product Categories <i class="fa-fw fa fa-caret-down"></i></a>
				</div>

				<div id="collapse1" class="collapse" role="tabpanel" aria-labelledby="heading1">
					<ul class="list-group">
						<li class="list-group-item">Business</li>
						<li class="list-group-item">Desktop Replacement</li>
						<li class="list-group-item">Gameing</li>
						<li class="list-group-item">Multimedia</li>
						<li class="list-group-item">Student</li>
					</ul>
				</div>
			</div>
			<div class="card">
				<div class="card-header" role="tab" id="heading2">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2"><i class="fa-fw fa fa-user-o"></i> My Account <i class="fa-fw fa fa-caret-down"></i></a>
				</div>
				<div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2">
					<ul class="list-group">
						<li class="list-group-item">Notification</li>
						<li class="list-group-item">Orders</li>
						<li class="list-group-item">Favorites</li>
						<li class="list-group-item">
							<a href="/signout">Sign-out</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="card">
				<div class="card-header" role="tab" id="heading3">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#" aria-expanded="false" aria-controls=""><i class="fa-fw fa fa-shopping-cart"></i> Shopping Cart</a>
				</div>
			</div>
			<div class="card">
				<div class="card-header" role="tab" id="heading4">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#" aria-expanded="false" aria-controls=""><i class="fa-fw fa fa-phone"></i> Customer Support</a>
				</div>
			</div>
		</div>
		<div id="side-search-form">
			<div class="input-group">
				<input type="text" class="form-control input-lg" placeholder="Search..." />
				<span class="input-group-btn">
					<button class="btn btn-info btn-lg" type="button">
						<i class="fa-fw fa fa-search"></i>
					</button>
				</span>
			</div>
		</div>
	</div>
	<div id="main">
		{{> admin-header }}
		<content>
			<div class="container animated wow fadeInDown">
				<div class="row">
					<div class="col-md-3">
						<div id="side-categories-menu">
							<div class="avatar d-flex justify-content-center">
								<img src="{{user.avatar}}" alt="Admin Avatar">
							</div>
							<div class="text-center">
								Admin
							</div>
							
							<div id="side-search-form">
								<div class="input-group">
									<input type="text" class="form-control input-lg" placeholder="Search..." />
									<span class="input-group-btn">
										<button class="btn btn-info btn-lg" type="button">
											<i class="fa-fw fa fa-search"></i>
										</button>
									</span>
								</div>
							</div>
							<div id="menu-accordion" role="tablist" aria-multiselectable="true">
								<div class="card">
									<div class="card-header" role="tab" id="menu-heading1">
										<a data-toggle="collapse" data-parent="#menu-accordion" href="#menu-collapse1" aria-expanded="false" aria-controls="menu-collapse1"><i class="fa-fw fa fa-dashboard"></i> Product Manager<i class="fa-fw fa fa-caret-down"></i></a>
									</div>
									<div id="menu-collapse1" class="collapse" role="tabpanel" aria-labelledby="menu-heading1">
										<ul class="list-group">
											<li class="list-group-item"><a href="/admin/productlist">View All Products</a></li>
											<li class="list-group-item"><a data-toggle="collapse" data-parent="#menu-conllapse1" href="#sub-menu-collapse1" aria-expanded="false" aria-controls="sub-menu-collapse1">Add Product<i class="fa-fw fa fa-caret-down"></i></a></li>
											<div id="sub-menu-collapse1" class="collapse" role="tabpanel" aria-labelledby="sub-menu-heading1">
												<ul class="list-group">
													{{#each kind}}
													<li class="list-group-item "><a href="/admin/addproduct/{{this}}">{{this}}</a></li>
													{{/each}}
												</ul>
											</div>
										</ul>
									</div>
								</div>
								<div class="card">
									<div class="card-header" role="tab" id="menu-heading2">
										<a data-toggle="collapse" data-parent="#menu-accordion" href="#menu-collapse2" aria-expanded="false" aria-controls="menu-collapse2"><i class="fa-fw fa fa-dashboard"></i> User Manager<i class="fa-fw fa fa-caret-down"></i></a>
									</div>
									<div id="menu-collapse2" class="collapse" role="tabpanel" aria-labelledby="menu-heading2">
										<ul class="list-group">
											<li class="list-group-item"><a href="/admin/userlist">View All Users</a></li>
											<li class="list-group-item">Edit Users</li>
										</ul>
									</div>
								</div>
								<div class="card">
									<div class="card-header" role="tab" id="menu-heading3">
										<a data-parent="#menu-accordion" href="/" aria-expanded="false" aria-controls=""><i class="fa-fw fa fa-home"></i> Back to Home</a>
									</div>
								</div>
								<div class="card">
									<div class="card-header" role="tab" id="menu-heading4">
										<a data-parent="#menu-accordion" href="/signout" aria-expanded="false" aria-controls=""><i class="fa-fw fa fa-sign-out"></i> Sign-out</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						{{{body}}}
					</div>
				</div>
			</div>
		</content>

		{{> admin-footer }}

		<a href="#main" class="btn btn-primary btn-backtotop" role="button" title="Back to top" data-toggle="tooltip" data-placement="left"><i class="fa-fw fa fa-angle-double-up"></i></a>
	</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" type="text/javascript"></script>
<script src="/javascripts/tether.min.js" type="text/javascript"></script>
<script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
<script src='/javascripts/jquery.elevatezoom.js'></script>
<script src="/javascripts/jquery.nicescroll.min.js"></script>
<script src='/javascripts/select2.min.js'></script>
<script src="/javascripts/script.js" type="text/javascript"></script>
<script src='/javascripts/comment.js'></script>
<script src="/javascripts/pagination.js" type="text/javascript"></script>
<script src="/javascripts/validation.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
<script src="/javascripts/wow.min.js" type="text/javascript"></script>
<script>new WOW().init();</script>     
</html>
