<content>
	<div class="container animated wow fadeInDown">
		<div class="menu-content">
			<h1>Access denied!</h1>
			<form class="form-user">

				<div class="alert alert-danger">
					{{#each messages}}
					<i class="fa-fw fa fa-warning"></i> {{this}}
					{{/each}}
				</div>
				<span><a href="/">Back to home page</a></span>
			</form>
		</div>
	</div>
</content>