<content>
    <div class="container animated wow fadeInDown">
        <div class="row">
            <div class="col-md-3">
                <div id="side-categories-menu">
                    <div id="menu-accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="menu-heading1">
                                <a data-toggle="collapse" data-parent="#menu-accordion" href="#menu-collapse1" aria-expanded="false" aria-controls="menu-collapse1"><i class="fa-fw fa fa-bars"></i> User's Information<i class="fa-fw fa fa-caret-down"></i></a>
                            </div>
                            <div id="menu-collapse1" class="collapse" role="tabpanel" aria-labelledby="menu-heading1">
                                <ul class="list-group">
                                    <li class="list-group-item"><a href="/userdetail/{{user._id}}">Profile</a></li>
                                    <li class="list-group-item">Favorite</li>
                                    <li class="list-group-item">Comments</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="menu-heading2">
                                <a class="collapsed" data-toggle="collapse" data-parent="#menu-accordion" href="#" aria-expanded="false" aria-controls=""><i class="fa-fw fa fa-shopping-cart"></i> Notification</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="userinfo-menu-heading3">
                                <a data-toggle="collapse" data-parent="#menu-accordion" href="#menu-collapse2" aria-expanded="false" aria-controls="menu-collapse2"><i class="fa-fw fa fa-bars"></i> Orders<i class="fa-fw fa fa-caret-down"></i></a>
                            </div>
                            <div id="menu-collapse2" class="collapse" role="tabpanel" aria-labelledby="menu-heading1">
                                <ul class="list-group">
                                    <li class="list-group-item"><a href="/cart">Cart</a></li>                               </li>
                                    <li class="list-group-item"><a href="/userdetail/{{user._id}}/billinfo">Billing Information</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="menu-content">
                    <div class="d-flex justify-content-end">
                        <span><a href="/">Home</a> > Orders > Billing Information</span>
                    </div>
                    <h1>Billing Information</h1>
                    <div id="success" class="alert alert-success {{#if noMessage}} collapse {{/if}}">
                        <i class="fa-fw fa fa-check-circle"></i> {{successMsg}}
                    </div>
                    <h2>My Orders</h2>

                    {{#each orders}}
                    <div class="bill-information-content">
                        <table class="table">
                            <tr>
                                <th>ID</th>
                                <th>Product's Name</th>
                                <th>Product's Price</th>
                                <th>Quantity</th>
                            </tr>
                            {{#each items}}
                            <tr>
                                <td>{{plus @index 1}}</td>
                                <td>{{item.name}}</td>
                                <td>${{item.price}}</td>
                                <td>{{quantity}}</td>
                            </tr>
                            {{/each}}
                        </table>
                        <div class="d-flex justify-content-between"><span>Order's ID</span> {{paymentId}}</div>
                        <div class="d-flex justify-content-between"><span>Total</span> ${{cart.totalPrice}}</div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</content>