<content>
	<div class="container animated wow fadeInDown">
		{{#if products}}
		<div class="row">
			<div class="col-md-9">
				<div class="cart-content">
					<h1>Shopping Cart</h1>
					{{#each products}}
					<div id="list{{this.item._id}}" class="row">
						<div class="col-md-2">
							<div class="product-image">
								<a href="/products/{{this.item._id}}" >
								<img src="{{this.item.image.[0]}}" alt="Product Image">
								</a>
							</div>
						</div>
						<div class="col-md-7">
							<p class="product-name">{{this.item.name}}</p>
							<p class="product-brand">{{this.item.brand}}</p>
							<span class="remove-product">
								<button onclick="removeAll('{{this.item._id}}')" type="button" class="btn btn-primary btn-round"><i class="fa-fw fa fa-remove"></i> Remove</button>	
							</span>
							<span class="add-to-favorite">
								<button type="button" class="btn btn-primary btn-round"><i class="fa-fw fa fa-heart"></i> Add to Favorite</button>			
							</span>
						</div>
						<div id="product{{this.item._id}}" class="col-md-3">
							<div class="input-group">
								<span class="input-group-btn">
									<button onclick="reduceByOne('{{this.item._id}}')" class="btn btn-primary btn-round"><i class="fa-fw fa fa-minus"></i></button>
								</span>
								<input id="quantity{{this.item._id}}" type="text" value="{{this.quantity}}" readonly="true">
								<span class="input-group-btn">
									<button onclick="addByOne('{{this.item._id}}')" class="btn btn-primary btn-round"><i class="fa-fw fa fa-plus"></i></button>
								</span>
							</div>
							<p id="productPrice{{this.item._id}}" class="product-price">${{this.price}}</p>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
			<div class="col-md-3">
				<div class="bill-content">
					<h1>Bill</h1>
					{{#each products}}
					<div id="bill{{this.item._id}}" class="d-flex justify-content-between">
						<span>{{this.item.name}}</span> ${{this.item.price}} (x{{this.quantity}})
					</div>
					{{/each}}
					<div id="totalPrice" class="d-flex justify-content-between">
						<h2>Total</h2>
						<h2>${{totalPrice}}</h2>
					</div>					
					{{#if login}}
					<div class="d-flex justify-content-center">
						<button class="btn btn-primary btn-round" onclick="window.location.href='/cart/checkout'"><i class="fa-fw fa fa-shopping-bag"></i> Checkout</button>
					</div>
					{{else}}
					<div class="alert alert-danger text-center">
						<i class="fa-fw fa fa-warning"></i> Please Sign-in to checkout your cart
					</div>
					{{/if}}
				</div>
			</div>
		</div>
		{{else}}
		<div class="row">
			<div class="col-md-9">
				<div class="cart-content">
					<h1>Shopping Cart</h1>
					<a href="/productlist">Your cart is empty. Let's buy something</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="bill-content">
					<h1>Bill</h1>
					<div class="d-flex justify-content-center">
						<button class="btn btn-primary btn-round"><i class="fa-fw fa fa-shopping-bag"></i> Checkout</button>
					</div>
				</div>
			</div>
		</div>
		{{/if}}
	</div>
</content>