<content>
	<div class="container animated wow fadeInDown">
		<div class="row">
			<div class="col-md-3">
				<div id="side-categories-menu">
					<div id="userinfo-menu-accordion" role="tablist" aria-multiselectable="true">
						<div class="card">
							<div class="card-header" role="tab" id="userinfo-menu-heading1">
								<a data-toggle="collapse" data-parent="#userinfo-menu-accordion" href="#userinfo-menu-collapse1" aria-expanded="false" aria-controls="userinfo-menu-collapse1"><i class="fa-fw fa fa-bars"></i> User's Information<i class="fa-fw fa fa-caret-down"></i></a>
							</div>
							<div id="userinfo-menu-collapse1" class="collapse" role="tabpanel" aria-labelledby="userinfo-menu-heading1">
								<ul class="list-group">
									<li class="list-group-item"><a href="/userdetail/{{user._id}}">Profile</a></li>
									<li class="list-group-item">Favorite</li>
									<li class="list-group-item">Comments</li>
								</ul>
							</div>
						</div>
						<div class="card">
							<div class="card-header" role="tab" id="userinfo-menu-heading2">
								<a class="collapsed" data-toggle="collapse" data-parent="#userinfo-menu-accordion" href="#" aria-expanded="false" aria-controls=""><i class="fa-fw fa fa-shopping-cart"></i> Notification</a>
							</div>
						</div>
						<div class="card">
							<div class="card-header" role="tab" id="userinfo-menu-heading3">
								<a data-toggle="collapse" data-parent="#userinfo-menu-accordion" href="#userinfo-menu-collapse2" aria-expanded="false" aria-controls="userinfo-menu-collapse2"><i class="fa-fw fa fa-bars"></i> Orders<i class="fa-fw fa fa-caret-down"></i></a>
							</div>
							<div id="userinfo-menu-collapse2" class="collapse" role="tabpanel" aria-labelledby="userinfo-menu-heading1">
								<ul class="list-group">
									<li class="list-group-item">Cart</li>
									<li class="list-group-item">Billing Information</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="menu-content">
					<div class="d-flex justify-content-end">
						<span><a href="/">Home</a> > User's Information > Profile > Change password</span>
					</div>
					<h1>Change password</h1>
					<form class="form-user" method="POST">
						Old password
						<input id="oldpass" type = "password" class="form-control" name ="oldpass" rows="1" placeholder="Enter your old password" required/>
						New password
						<input id="newpass" type = "password" class="form-control" name = "newpass" rows="1" placeholder="Enter new password" required/>
						Confirm new password
						<input id="cnewpass" type = "password"  class="form-control" name = "cnewpass" rows="1" placeholder="Confirm new password" required/>

						{{#if hasErrors}}
						<div class="alert alert-danger">
							{{#each messages}}
								<i class="fa-fw fa fa-warning"></i> {{this}}
							{{/each}}
						</div>
						{{/if}}

						<div class="d-flex justify-content-end">
							<input type="hidden" name="_csrf" value = "{{csrfToken}}">
							<button type="submit" class="btn btn-primary btn-round"><i class="fa-fw fa fa-pencil"></i> Change password</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</content>