<content>
    <div class="container animated wow fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <div class="menu-content">
                    <h1>Checkout</h1>
                    <form action="/cart/checkout" id="checkout-form" class="form-user" method="post">
                        <h2> Your Total: ${{total}} </h2>
                        Name
                        <input id="name" class="form-control" name="name" placeholder="Enter your name" value="{{user.name}}" required/>                        
                        Address
                        <input id="address" name="address" class="form-control" placeholder="Enter your address" value="{{user.address}}" required/>  
                        Card Holder Name
                        <input id="card-name" class="form-control" placeholder="Enter your card holder name" required/> 
                        Expiration Month
                        <input id="ex-month" onkeypress='return event.charCode >= 48 && event.charCode <= 57' min="1" max="12" class="form-control" type="number" placeholder="Enter expiration month" required/> 
                        Expiration Year
                        <input id="ex-year" onkeypress='return event.charCode >= 48 && event.charCode <= 57' min="2000" class="form-control" placeholder="Enter expiration year" type="number" required/> 
                        Credit Card Number
                        <input id="card-num" class="form-control" placeholder="Enter your credit card number" required/> 
                        CVC
                        <input id="card-cvc" class="form-control" placeholder="Enter CVC" required/>
                        <div id="charge-error" class="alert alert-danger {{#if noErrors}} collapse {{/if}}">
                        <i class="fa-fw fa fa-warning"> {{errMsg}}</i>
                        </div>
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <button type="submit" class="btn btn-primary btn-round"><i class="fa-fw fa fa-credit-card-alt"></i> Buy Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</content>
<script src="https://js.stripe.com/v2/"></script>
<script src="/javascripts/checkout.js" type="text/javascript"></script>