<content>
	<!-- Content -->
	<div class="cover animated wow fadeInDown">
		<div class="container">
			<div id="vertical-menu">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link"><i class="fa-fw fa fa-info-circle"></i> About TGShop</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled"><i class="fa-fw fa fa-question-circle"></i> Frequently Asked Questions</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled"><i class="fa-fw fa fa-shopping-cart"></i> Ordering Tutorial</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled"><i class="fa-fw fa fa-truck"></i> Delivery Methods</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled"><i class="fa-fw fa fa-refresh"></i> Payment policy</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled"><i class="fa-fw fa fa-credit-card"></i> Returns and Exchanges Policy</a>
					</li>
					<li class="nav-item">
						<a class="nav-link"><i class="fa-fw fa fa-fire"></i> HOT Promotions</a>
					</li>
					<li class="nav-item">
						<a class="nav-link"><i class="fa-fw fa fa-legal"></i> Famous Brands</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled"><i class="fa-fw fa fa-history"></i> Recently Viewed Products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled"><i class="fa-fw fa fa-bullhorn"></i> Upcoming Events</a>
					</li>
				</ul>
			</div>

			<div id="carouselAds" class="carousel slide">
				<!-- Slide -->
				<ol class="carousel-indicators">
					<li data-target="#carouselAds" data-slide-to="0" class="active"></li>
					<li data-target="#carouselAds" data-slide-to="1"></li>
					<li data-target="#carouselAds" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner" role="Ads Slide">
					<div class="carousel-item active">
						<img src="/images/bg1.jpg" alt="First slide">
						<div class="carousel-caption">
							<h5>"I am Diana of Themyscira, daughter of Hippolyta..."</h5>
						</div>
					</div>
					<div class="carousel-item">
						<img src="/images/bg2.jpg" alt="Second slide">
						<div class="carousel-caption">
							<h5>"...Queen of the Amazons..."</h5>
						</div>
					</div>
					<div class="carousel-item">
						<img src="/images/bg3.jpg" alt="Third slide">
						<div class="carousel-caption">
							<h5>"...in the name of all that it is good..."</h5>
						</div>
					</div>
					<div class="carousel-item">
						<img src="/images/bg4.jpg" alt="Forth slide">
						<div class="carousel-caption">
							<h5>"...your wrath upon this world... is OVER!"</h5>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselAds" role="button" data-slide="prev">
					<i class="fa-fw fa fa-angle-left"></i>
				</a>
				<a class="carousel-control-next" href="#carouselAds" role="button" data-slide="next">
					<i class="fa-fw fa fa-angle-right"></i>
				</a>
			</div>
			<!-- End Slide -->
		</div>
	</div>

	<div class="container feature-products animated wow fadeInUp">
		<h1 class="text-center my-3 animated wow fadeIn">Feature Products</h1>

		<div class="tab d-flex justify-content-center">
			<button class="tablinks active" onclick="openTab(event, 'Newest')" id="defaultOpen">Newest</button>
			<button class="tablinks" onclick="openTab(event, 'Bestseller')">Bestseller</button>
			<button class="tablinks" onclick="openTab(event, 'Sale')">Sale</button>
		</div>

		<div id="Newest" class="tabcontent" style="display: block;">
			<div class="row">
				<div class="col-md-3 text-center">
					<div class="product">
						<img src="/images/defaultproduct.png" alt="Product Image" class="mx-auto d-block">
						<div class="middle">
							<button class="button"><span>Detail </span></button>
						</div>
					</div>
					<p class="product-name">Products' Name</p>
					<p class="product-brand">Products' Brand</p>
					<p class="product-price">600$</p>
				</div>
				<div class="col-md-3 text-center">
					<div class="product">
						<img src="/images/defaultproduct.png" alt="Product Image" class="mx-auto d-block">
						<div class="middle">
							<button class="button"><span>Detail </span></button>
						</div>
					</div>
					<p class="product-name">Products' Name</p>
					<p class="product-brand">Products' Brand</p>
					<p class="product-price">600$</p>
				</div>
				<div class="col-md-3 text-center">
					<div class="product">
						<img src="/images/defaultproduct.png" alt="Product Image" class="mx-auto d-block">
						<div class="middle">
							<button class="button"><span>Detail </span></button>
						</div>
					</div>
					<p class="product-name">Products' Name</p>
					<p class="product-brand">Products' Brand</p>
					<p class="product-price">600$</p>
				</div>
				<div class="col-md-3 text-center">
					<div class="product">
						<img src="/images/defaultproduct.png" alt="Product Image" class="mx-auto d-block">
						<div class="middle">
							<button class="button"><span>Detail </span></button>
						</div>
					</div>
					<p class="product-name">Products' Name</p>
					<p class="product-brand">Products' Brand</p>
					<p class="product-price">600$</p>
				</div>
			</div>
		</div>

		<div id="Bestseller" class="tabcontent">
			<div class="row">
				<div class="col-md-3 text-center">
					<div class="product">
						<img src="/images/defaultproduct.png" alt="Product Image" class="mx-auto d-block">
						<div class="middle">
							<button class="button"><span>Detail </span></button>
						</div>
					</div>
					<p class="product-name">Products' Name</p>
					<p class="product-brand">Products' Brand</p>
					<p class="product-price">600$</p>
				</div>
				<div class="col-md-3 text-center">
					<div class="product">
						<img src="/images/defaultproduct.png" alt="Product Image" class="mx-auto d-block">
						<div class="middle">
							<button class="button"><span>Detail </span></button>
						</div>
					</div>
					<p class="product-name">Products' Name</p>
					<p class="product-brand">Products' Brand</p>
					<p class="product-price">600$</p>
				</div>
				<div class="col-md-3 text-center">
					<div class="product">
						<img src="/images/defaultproduct.png" alt="Product Image" class="mx-auto d-block">
						<div class="middle">
							<button class="button"><span>Detail </span></button>
						</div>
					</div>
					<p class="product-name">Products' Name</p>
					<p class="product-brand">Products' Brand</p>
					<p class="product-price">600$</p>
				</div>
				<div class="col-md-3 text-center">
					<div class="product">
						<img src="/images/defaultproduct.png" alt="Product Image" class="mx-auto d-block">
						<div class="middle">
							<button class="button"><span>Detail </span></button>
						</div>
					</div>
					<p class="product-name">Products' Name</p>
					<p class="product-brand">Products' Brand</p>
					<p class="product-price">600$</p>
				</div>
			</div>
		</div>

		<div id="Sale" class="tabcontent">
			No products found
		</div>
	</div>

	<div class="poster animated wow fadeInDown">
		<div class="container">
			<div class="poster-image"></div>
			<div class="poster-text">
				<h1 class="text-center my-3">Getting news</h1>
				<div class="text-center animated wow fadeInUp">Leave your email here to receive news from thegearsshop.com</div>
				<form class="form-inline form-email d-flex justify-content-center animated wow fadeInUp">
					<input type="email" class="form-control" placeholder="Enter your email..." size="40">
					<button type="submit" class="btn btn-primary btn-round"><i class="fa-fw fa fa-paper-plane"></i></button>
				</form>
			</div>
		</div>
	</div>

	<div class="container famous-brands animated wow fadeInUp">
		<h1 class="text-center my-3">Top brands</h1>
		<div id="carouselLogos" class="carousel slide" data-ride="carousel" data-interval="2000">
			<div class="carousel-inner row w-100 mx-auto" role="Brands Slide">
				<div class="carousel-item col-md-3 active">
					<img class="img-fluid mx-auto d-block" src="https://upload.wikimedia.org/wikipedia/commons/9/9d/L%27Or%C3%A9al_logo.svg"
					 alt="slide 1">
				</div>
				<div class="carousel-item col-md-3">
					<img class="img-fluid mx-auto d-block" src="https://upload.wikimedia.org/wikipedia/commons/2/24/Samsung_Logo.svg" alt="slide 2">
				</div>
				<div class="carousel-item col-md-3">
					<img class="img-fluid mx-auto d-block" src="https://upload.wikimedia.org/wikipedia/commons/1/17/Anker-logo.svg" alt="slide 3">
				</div>
				<div class="carousel-item col-md-3">
					<img class="img-fluid mx-auto d-block" src="https://upload.wikimedia.org/wikipedia/commons/0/01/Toshiba_logo.svg" alt="slide 4">
				</div>
				<div class="carousel-item col-md-3">
					<img class="img-fluid mx-auto d-block" src="https://upload.wikimedia.org/wikipedia/commons/c/c5/Logo_of_the_LG_Corporation_%281995-2008%29.svg"
					 alt="slide 5">
				</div>
				<div class="carousel-item col-md-3">
					<img class="img-fluid mx-auto d-block" src="https://upload.wikimedia.org/wikipedia/commons/3/3d/Panasonic-Logo.svg" alt="slide 6">
				</div>
				<div class="carousel-item col-md-3">
					<img class="img-fluid mx-auto d-block" src="https://upload.wikimedia.org/wikipedia/commons/2/2e/ASUS_Logo.svg" alt="slide 7">
				</div>
				<div class="carousel-item col-md-3">
					<img class="img-fluid mx-auto d-block" src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg" alt="slide 8">
				</div>
			</div>
			<!--<a class="carousel-control-prev" href="#carouselLogos" role="button" data-slide="prev">
				<i class="fa fa-chevron-left fa-lg text-muted"></i>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next text-faded" href="#carouselLogos" role="button" data-slide="next">
				<i class="fa fa-chevron-right fa-lg text-muted"></i>
				<span class="sr-only">Next</span>
			</a>-->
		</div>
	</div>
</content>
<!-- End Content -->