<content>
	<div class="container animated wow fadeInDown">
		<div class="menu-content">
			<h1>Reset password</h1>
			<form class="form-user" method="POST" action="/resetpassword">
				Your account email
				<input id="email" type="text" class="form-control" name="email" rows="1" placeholder="Enter your email address" required/>

				{{#if hasErrors}}
				<div class="alert alert-danger">
					{{#each errors}}
					<i class="fa-fw fa fa-warning"></i> {{this}}
					{{/each}}
				</div>
				{{/if}}

				{{#if hasInfos}}
				<div class="alert alert-success">
					{{#each infos}}
					<i class="fa-fw fa fa-check-circle"></i> {{this}}
					{{/each}}
				</div>
				{{/if}}

				<div class="d-flex justify-content-end">
					<input type="hidden" name="_csrf" value="{{csrfToken}}">
					<button type="submit" class="btn btn-primary btn-round"><i class="fa-fw fa fa-pencil"></i> Send reset password link</button>
				</div>
			</form>
		</div>
	</div>
</content>