<content>
	<div class="container animated wow fadeInDown">
		<div class="row">
			<div class="col-md-3">
				<div id="side-categories-menu">
					<div id="menu-accordion" role="tablist" aria-multiselectable="true">
						<div class="card">
							<div class="card-header" role="tab" id="menu-heading0">
								<a data-parent="#menu-accordion" href="/productlist"><i class="fa-fw fa fa-dashboard"></i> All</a>
							</div>
						</div>
						<div class="card">
							<div class="card-header" role="tab" id="menu-heading1">
								<a data-toggle="collapse" data-parent="#menu-accordion" href="#menu-collapse1" aria-expanded="false" aria-controls="menu-collapse1"><i class="fa-fw fa fa-bars"></i> Categories <i class="fa-fw fa fa-caret-down"></i></a>
							</div>
							<div id="menu-collapse1" class="collapse" role="tabpanel" aria-labelledby="menu-heading1">
								<ul class="list-group">
									{{#each kinds}}
									<li class="list-group-item">
										<a class="selection" id="{{this}}" >{{this}}</a>
									</li>
									{{/each}}
								</ul>
							</div>
						</div>
						<div class="card">
							<div class="card-header" role="tab" id="menu-heading2">
								<a class="collapsed" data-toggle="collapse" data-parent="#menu-accordion" href="#menu-collapse2" aria-expanded="false" aria-controls="menu-collapse2"><i class="fa-fw fa fa-user-o"></i> Brands <i class="fa-fw fa fa-caret-down"></i></a>
							</div>
							<div id="menu-collapse2" class="collapse" role="tabpanel" aria-labelledby="menu-heading2">
								<ul class="list-group">
									{{#each brands}}
									<li class="list-group-item">
										<a class="selection" id="{{this}}">{{this}}</a>
									</li>
									{{/each}}
								</ul>
							</div>
						</div>
					</div>
					<div class="search-content">
						<h1>Search</h1>
						<i class="fa-fw fa fa-circle-o"></i> by Name
						<div id="side-search-form">
							<div class="input-group">
								<input id="product-name-search-input" type="text" class="form-control input-lg" placeholder="Name..." />
								<span class="input-group-btn">
									<button class="btn btn-info btn-lg" type="button">
										<i class="fa-fw fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<i class="fa-fw fa fa-circle-o"></i> by Brand
						<div id="side-search-form">
							<div class="input-group">
								<input id="product-brand-search-input" type="text" class="form-control input-lg" placeholder="Brand..." />
								<span class="input-group-btn">
									<button class="btn btn-info btn-lg" type="button">
										<i class="fa-fw fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<i class="fa-fw fa fa-circle-o"></i> by Price
						<div id="side-search-form">
							<div class="input-group">
								<input id="product-price-search-input" type="text" class="form-control input-lg" placeholder="Price..." />
								<span class="input-group-btn">
									<button class="btn btn-info btn-lg" type="button">
										<i class="fa-fw fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<i class="fa-fw fa fa-circle-o"></i> by CPU (Laptop)
						<div id="side-search-form">
							<div class="input-group">
								<input id="product-cpu-search-input" type="text" class="form-control input-lg" placeholder="CPU..." />
								<span class="input-group-btn">
									<button class="btn btn-info btn-lg" type="button">
										<i class="fa-fw fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<i class="fa-fw fa fa-circle-o"></i> by RAM (Laptop)
						<div id="side-search-form">
							<div class="input-group">
								<input id="product-ram-search-input" type="text" class="form-control input-lg" placeholder="RAM..." />
								<span class="input-group-btn">
									<button class="btn btn-info btn-lg" type="button">
										<i class="fa-fw fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<i class="fa-fw fa fa-circle-o"></i> by ROM (Laptop)
						<div id="side-search-form">
							<div class="input-group">
								<input id="product-rom-search-input" type="text" class="form-control input-lg" placeholder="ROM..." />
								<span class="input-group-btn">
									<button class="btn btn-info btn-lg" type="button">
										<i class="fa-fw fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>
						<i class="fa-fw fa fa-circle-o"></i> by Resolution (Laptop)
						<div id="side-search-form">
							<div class="input-group">
								<input id="product-resolution-search-input" type="text" class="form-control input-lg" placeholder="Resolution..." />
								<span class="input-group-btn">
									<button class="btn btn-info btn-lg" type="button">
										<i class="fa-fw fa fa-search"></i>
									</button>
								</span>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="col-md-9 productlist-content">
				<div class="d-flex justify-content-end">
					<span><a href="/">Home</a> > Categories > <span id="kind" v="">All</span></span>
				</div>
				<h1>Product List</h1>
				<div class="row pagination-content">
				</div>
				<div class="product-pagination-nav d-flex justify-content-center">
					<div class="pagination-nav"></div>	
				</div>
			</div>
		</div>	
	</div>
</content>
