<content>
	<div class="container animated wow fadeInDown">
		<div class="row">
			<div class="col-md-7">			
				<div class="slider">
					{{#each product.image}}
					<input type="radio" name="slide_switch" id="id{{@index}}" checked="checked"/>
					<label for="id{{@index}}">
						<img src="{{this}}"/>
					</label>
					<img id="zoom_img{{@index}}" src="{{this}}"/>
					{{/each}}
				</div>
			</div>
			<div class="col-md-5">
				<div class="product-detail">
					<input id="productid" type="hidden" value="{{product._id}}">
					<p class="product-name">{{product.name}}</p>
					<p class="product-brand">{{product.brand}}</p>
					<p class="product-price">${{product.price}}</p>
					<i class="fa-fw fa fa-star yellow-star"></i>
					<i class="fa-fw fa fa-star yellow-star"></i>
					<i class="fa-fw fa fa-star yellow-star"></i>
					<i class="fa-fw fa fa-star-o"></i>
					<i class="fa-fw fa fa-star-o"></i>
					{{comments.length}} reviews
					<div>
						<span class="add-to-cart">
							<button onclick="addToCart('{{product._id}}')" class="btn btn-primary btn-round"><i class="fa-fw fa fa-shopping-cart"></i> Add to Cart</button>
						</span>
						<span class="add-to-favorite">
							<button type="button" class="btn btn-primary btn-round"><i class="fa-fw fa fa-heart"></i> Add to Favorite</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="tab d-flex justify-content-center">
			<button class="tablinks active" onclick="openTab(event, 'details')" id="defaultOpen">Details</button>
			<button class="tablinks" onclick="openTab(event, 'reviews')">Reviews</button>
			<button class="tablinks" onclick="openTab(event, 'related-products')">Related Products</button>
		</div>

		<div id="details" class="tabcontent" style="display: block;">
			<table id="listtable">
				<tr>
					<th onclick="sortTable(0)">Specifications</th>
					<th onclick="sortTable(1)">Details</th>
				</tr>
				<tr>
					<td>Kind</td>
					<td>{{product.kind}}</td>
				</tr>
				<tr>
					<td>Brand</td>
					<td>{{product.brand}}</td>
				</tr>
				<tr>
					<td>Categories</td>
					<td>
					{{#each product.subcategories}}
						{{this}}
						<br>
					{{/each}}
					</td>
				</tr>
				{{#if isLaptop}}
				<tr>
					<td>CPU</td>
					<td>{{product.cpu}}</td>
				</tr>
				<tr>
					<td>RAM</td>
					<td>{{product.ram}}</td>
				</tr>
				<tr>
					<td>ROM</td>
					<td>{{product.rom}}</td>
				</tr>
				<tr>
					<td>Weight</td>
					<td>{{product.weight}}</td>
				</tr>
				<tr>
					<td>Resolution</td>
					<td>{{product.resolution}}</td>
				</tr>
				{{else}}
				<tr>
					<td>Description</td>
					<td>
						{{#each product.description}}
						{{this}}
						<br>
						{{/each}}
					</td>
				</tr>
				{{/if}}
			</table>
		</div>
		<div id="reviews" class="tabcontent">
			<div class="rating">
				Your rating
				<i class="fa-fw fa fa-star yellow-star"></i>
				<i class="fa-fw fa fa-star yellow-star"></i>
				<i class="fa-fw fa fa-star yellow-star"></i>
				<i class="fa-fw fa fa-star-o"></i>
				<i class="fa-fw fa fa-star-o"></i>
			</div>

			<form class="form-comment">
				{{#if login}}
				Name
				<input id="username" class="form-control" rows="1" placeholder="Enter your name" readonly="readonly" value="{{user.name}}" required/>
				{{else}}
				Name
				<input id="username" class="form-control" rows="1" placeholder="Enter your name" required/>
				{{/if}}
				Comment
				<textarea id="content" class="form-control" rows="4" placeholder="Enter your comment" required></textarea>
				<div class="alert alert-danger collapse">

				</div>
				<div class="alert alert-success collapse">

				</div>
				<div class="d-flex justify-content-end">
					<button type="button" onClick="addComment('{{product._id}}')" class="btn btn-primary btn-round"><i class="fa-fw fa fa-pencil"></i> Submit Your Comment</button>
				</div>
			</form>
			<div id="new-comment-block">
			
			</div>
			<div id="comment-block">

			</div>
			<div class="comment-pagination-nav d-flex justify-content-center">
				<div class="pagination-nav"></div>	
			</div>
		</div>
		<div id="related-products" class="tabcontent">
			<div class="row">
				<div class="col-md-3 text-center">
					<div class="product">
						<img src="/images/defaultproduct.png" alt="Product Image" class="mx-auto d-block">
						<div class="middle">
							<button class="button"><span>Detail</span></button>
						</div>
					</div>
					<p class="product-name">Products' Name</p>
					<p class="product-brand">Products' Brand</p>
					<p class="product-price">600$</p>
				</div>		
				<div class="col-md-3 text-center">
					<div class="product">
						<img src="/images/defaultproduct.png" alt="Product Image" class="mx-auto d-block">
						<div class="middle">
							<button class="button"><span>Detail </span></button>
						</div>
					</div>
					<p class="product-name">Products' Name</p>
					<p class="product-brand">Products' Brand</p>
					<p class="product-price">600$</p>
				</div>		
				<div class="col-md-3 text-center">
					<div class="product">
						<img src="/images/defaultproduct.png" alt="Product Image" class="mx-auto d-block">
						<div class="middle">
							<button class="button"><span>Detail </span></button>
						</div>
					</div>
					<p class="product-name">Products' Name</p>
					<p class="product-brand">Products' Brand</p>
					<p class="product-price">600$</p>
				</div>		
				<div class="col-md-3 text-center">
					<div class="product">
						<img src="/images/defaultproduct.png" alt="Product Image" class="mx-auto d-block">
						<div class="middle">
							<button class="button"><span>Detail </span></button>
						</div>
					</div>
					<p class="product-name">Products' Name</p>
					<p class="product-brand">Products' Brand</p>
					<p class="product-price">600$</p>
				</div>		
			</div>
		</div>
	</div>
</content>