<content>
	<div class="container animated wow fadeInDown">
		<div class="menu-content">
			<h1>Reset password</h1>
			<form class="form-user" method="POST" action ="/resetpassword/{{id}}">
				New password
				<input id="newpass" type="password" class="form-control" name="newpass" rows="1" placeholder="Enter your new password" required/>
				Confirm new password
				<input id="cnewpass" type="password" class="form-control" name="cnewpass" rows="1" placeholder="Confirm new password" required/>


				{{#if hasErrors}}
				<div class="alert alert-danger">
					{{#each errors}}
					<i class="fa-fw fa fa-warning"></i> {{this}}
					{{/each}}
				</div>
				{{/if}}


				<div class="d-flex justify-content-end">
					<input type="hidden" name="_csrf" value = "{{csrfToken}}">
					<button type="submit" class="btn btn-primary btn-round"><i class="fa-fw fa fa-pencil"></i> Reset password</button>
				</div>
				
			</form>
		</div>
	</div>
</content>