<content>
	<div class="container animated wow fadeInDown">
		<div class="row">
			<div class="col-md-3">
				<div id="side-categories-menu">
					<div id="menu-accordion" role="tablist" aria-multiselectable="true">
						<div class="card">
							<div class="card-header" role="tab" id="menu-heading1">
								<a data-toggle="collapse" data-parent="#menu-accordion" href="#menu-collapse1" aria-expanded="false" aria-controls="menu-collapse1"><i class="fa-fw fa fa-bars"></i> User's Information<i class="fa-fw fa fa-caret-down"></i></a>
							</div>
							<div id="menu-collapse1" class="collapse" role="tabpanel" aria-labelledby="menu-heading1">
								<ul class="list-group">
									<li class="list-group-item"><a href="/userdetail/{{user._id}}">Profile</a></li>
									<li class="list-group-item">Favorite</li>
									<li class="list-group-item">Comments</li>
								</ul>
							</div>
						</div>
						<div class="card">
							<div class="card-header" role="tab" id="menu-heading2">
								<a class="collapsed" data-toggle="collapse" data-parent="#menu-accordion" href="#" aria-expanded="false" aria-controls=""><i class="fa-fw fa fa-shopping-cart"></i> Notification</a>
							</div>
						</div>
						<div class="card">
							<div class="card-header" role="tab" id="userinfo-menu-heading3">
								<a data-toggle="collapse" data-parent="#menu-accordion" href="#menu-collapse2" aria-expanded="false" aria-controls="menu-collapse2"><i class="fa-fw fa fa-bars"></i> Orders<i class="fa-fw fa fa-caret-down"></i></a>
							</div>
							<div id="menu-collapse2" class="collapse" role="tabpanel" aria-labelledby="menu-heading1">
								<ul class="list-group">
									<li class="list-group-item"><a href="/cart">Cart</a></li>								</li>
									<li class="list-group-item"><a href="/userdetail/{{user._id}}/billinfo">Billing Information</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="menu-content">
					<div class="d-flex justify-content-end">
						<span><a href="/">Home</a> > User's Information > Profile</span>
					</div>
					<h1>Profile</h1>
					<form class="form-user" method="POST" enctype="multipart/form-data" action="?_csrf={{csrfToken}}">
						Avatar
						<div class="avatar">
							<img name="avatar" id="user-avatar" src="{{user.avatar}}" alt="avatar" />
						</div>
						<div>
							<input type="file" id="file" name="avatar" accept="image/*"/>
							<label for="file"><i class="fa-fw fa fa-image"></i> Choose a file</label>				
						</div>
						Name
						<input id="name" class="form-control" name="name" placeholder="Enter your name" value="{{user.name}}" required/>
						Email
						<input id="email" class="form-control" name="mail" placeholder="Enter your email" value="{{user.email}}" required readonly="readonly" />
						Address
						<input id="address" class="form-control" name="address" placeholder="Enter your address" value="{{user.address}}" required/>
						Phone
						<input id="text" class="form-control" name = "phone" rows="1" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Enter your phone" value = "{{user.phone}}" required/>
						<span><a href="{{user._id}}/changepassword">Change password</a></span>
						<div class="d-flex justify-content-end">
							<button type="submit" class="btn btn-primary btn-round"><i class="fa-fw fa fa-pencil"></i> Edit Your Profile</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</content>